<table>
    <td>
        <img src="https://ciadaconcepcao.com.br/wp-content/uploads/2017/01/innohub-270x270.png" style="width: 100px">
    </td>
    <td>
        <img src="https://i.ibb.co/vJ858Kg/ets-logo2.png" style="width: 200px">
    </td>
</table>


# <center>Treinamento Iot -Módulo II</center>
## <center>Aula 3 - Pandas - parte 2</center>

![panda](https://databootcamp.nyc3.digitaloceanspaces.com/img/panda2.jpg)

Vamos continuar usando o __Pandas__ para trabalhar nosso dados.

Vamos abrir o dataset que foi salvo no final da aula anterior.

In [18]:
import pandas as pd
titanic = pd.read_csv("data/titanic.csv")
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## Vamos analisar as informações sobre os passageiros

Vamos ver quais passageiros sobreviveram e entender o porque disso.

### Vamos focar a nossa análise para detectar padrões que vão nos dizer quem sobreviveu ou não!

Pra isso, primeiro vamos os dados brutos sobre esse dado

In [19]:
titanic.Survived[titanic["Survived"] == 0].count()

549

In [20]:
print(titanic.Survived[titanic["Survived"] == 1].count())

342

In [21]:
def calculate_percentage(val, total):
    """Calculates the percentage of a value over a total"""

    percent = float(val / total)
    beautiful_percent = ("%.2f" % (percent * 100) + "%")
    return beautiful_percent

In [22]:
total = titanic.Survived.count()
nao_sobreviveu = titanic.Survived[titanic["Survived"] == 0].count()
sobreviveu = titanic.Survived[titanic["Survived"] == 1].count()
print(total)
print(nao_sobreviveu)
print(sobreviveu)

891
549
342

In [23]:
print(calculate_percentage(sobreviveu,total))

38.38%

In [24]:
print(calculate_percentage(nao_sobreviveu,total))

61.62%

Descobrimos que mais gente morreu :(

### Será que tem alguma relação com a taxa de sobrevivencia se ele estava com a família?

#### Primeiro, qual a porcentagem geral de pessoas com parentes a bordo?

In [25]:
titanic["Relatives"] = titanic["SibSp"] + titanic["Parch"]

In [26]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Relatives'],
      dtype='object')

In [27]:
sem_familia = titanic.Survived[titanic["Relatives"] == 0].count()
com_familia = titanic.Survived[titanic["Relatives"] > 0].count()

print(calculate_percentage(sem_familia,total))
print(calculate_percentage(com_familia,total))

60.27%
39.73%

Vamos começar pelos que morreram!

In [28]:
mortos = titanic[titanic["Survived"] == 0]
mortos_sem_familia = mortos.Survived[mortos["Relatives"] == 0].count()

mortos_sem_familia = titanic.Survived[(titanic["Survived"]==0) & (titanic["Relatives"]==0)].count()
mortos_sem_familia

374

In [29]:
mortos_com_familia = mortos.Survived[mortos["Relatives"] > 0].count()
mortos_com_familia

175

In [30]:
print("Não sobreviveu que NÃO tem família no Barco", calculate_percentage(mortos_sem_familia,nao_sobreviveu))
print("Não sobreviveu que TEM família no Barco",calculate_percentage(mortos_com_familia,nao_sobreviveu))

Não sobreviveu que NÃO tem família no Barco 68.12%
Não sobreviveu que TEM família no Barco 31.88%

Maioria dos mortos não tinha familia no barco!

Vamos ver os vivos para ver se essa informação é relevante!

In [31]:
vivos = titanic[titanic["Survived"] == 1]

vivos_sem_familia = vivos.Survived[vivos["Relatives"] == 0].count()
vivos_sem_familia

163

In [32]:
vivos_com_familia = vivos.Survived[vivos["Relatives"] > 0].count()
vivos_com_familia

179

In [33]:
print("Sobrevivente que NÃO tem família no Barco", calculate_percentage(vivos_sem_familia,sobreviveu))
print("Sobrevivente que TEM família no Barco",calculate_percentage(vivos_com_familia,sobreviveu))

Sobrevivente que NÃO tem família no Barco 47.66%
Sobrevivente que TEM família no Barco 52.34%

#### Não começaria acreditando que isso contém uma forte relação para definir sobrevivência mas sobre os mortos teve um belo impacto!

### Será que tem alguma relação do "sexo"com a taxa de sobrevivencia?

#### Primeiro qual a porcentagem geral de pessoas por sexo?

In [34]:
male = titanic.Survived[titanic["Sex"] == "male"].count()
female = titanic.Survived[titanic["Sex"] == "female"].count()

print(calculate_percentage(male,total))
print(calculate_percentage(female,total))

64.76%
35.24%

In [35]:
mortos_homem = mortos.Survived[mortos["Sex"] == "male"].count()
mortos_homem

468

In [36]:
mortos_mulher = mortos.Survived[mortos["Sex"] == "female"].count()
mortos_mulher

81

In [37]:
print("Não sobreviveu do sexo Masculino", calculate_percentage(mortos_homem,nao_sobreviveu))
print("Não sobreviveu do sexo Feminino", calculate_percentage(mortos_mulher,nao_sobreviveu))

Não sobreviveu do sexo Masculino 85.25%
Não sobreviveu do sexo Feminino 14.75%

In [38]:
vivos_homem = vivos.Survived[vivos["Sex"] == "male"].count()
vivos_homem

109

In [39]:
vivos_mulher = vivos.Survived[vivos["Sex"] == "female"].count()
vivos_mulher

233

In [40]:
print("Sobreviveu do sexo Masculino", calculate_percentage(vivos_homem, sobreviveu))
print("Sobreviveu do sexo Feminino", calculate_percentage(vivos_mulher, sobreviveu))

Sobreviveu do sexo Masculino 31.87%
Sobreviveu do sexo Feminino 68.13%

#### Começaria acreditando que existe uma forte relação de sobrevivência ou morte!

## Vamos verificar se a classe a cabine (Pclass) também influencia na sobrevivência ou morte?

![alt text](https://databootcamp.nyc3.digitaloceanspaces.com/img/desafio.jpg)

# LIVE CODE

In [41]:
total = titanic.Survived.count()
nao_sobreviveu = titanic.Survived[titanic["Survived"] == 0].count()
sobreviveu = titanic.Survived[titanic["Survived"] == 1].count()

primeira = titanic.Survived[titanic["Pclass"]==1].count()
segunda = titanic.Survived[titanic["Pclass"]==2].count()
terceira = titanic.Survived[titanic["Pclass"]==3].count()

print(calculate_percentage(primeira,total))
print(calculate_percentage(segunda,total))
print(calculate_percentage(terceira,total))

24.24%
20.65%
55.11%

In [56]:
mortos = titanic[titanic["Survived"] == 0]
mortos_primeira = mortos.Survived[mortos["Pclass"]==1].count()
print(mortos_primeira)

80

In [58]:
mortos = titanic[titanic["Survived"] == 0]
mortos_segunda = mortos.Survived[mortos["Pclass"]==2].count()
print(mortos_segunda)

97

In [57]:
mortos = titanic[titanic["Survived"] == 0]
mortos_terceira = mortos.Survived[mortos["Pclass"]==3].count()
print(mortos_terceira)

372

In [60]:
print("Não sobreviveu da primeira classe:", calculate_percentage(mortos_primeira, nao_sobreviveu))
print("Não sobreviveu do segunda classe", calculate_percentage(mortos_segunda,nao_sobreviveu))
print("Não sobreviveu do terceira classe", calculate_percentage(mortos_terceira,nao_sobreviveu))

Não sobreviveu da primeira classe: 14.57%
Não sobreviveu do segunda classe 17.67%
Não sobreviveu do terceira classe 67.76%

In [ ]:
vivos = titanic[titanic["Survived"] == 1]
vivos_primeira = vivos.Survived[vivos["Pclass"] == 1].count()
print(vivos_primeira)

In [ ]:
vivos_segunda = vivos.Survived[vivos["Pclass"] == 2].count()
print(vivos_segunda)

In [ ]:
vivos_terceira = vivos.Survived[vivos["Pclass"] == 3].count()
print(vivos_terceira)

In [ ]:
print("Sobreviveu da primeira classe", calculate_percentage(vivos_primeira, sobreviveu))
print("Sobreviveu da segunda classe", calculate_percentage(vivos_segunda, sobreviveu))
print("Sobreviveu da terceira classe", calculate_percentage(vivos_terceira, sobreviveu))

## Agora vamos mudar um pouco, será que tem alguma relação entre a taxa de sobrevivência e a idade?

![alt text](https://databootcamp.nyc3.digitaloceanspaces.com/img/desafio.jpg)

Precisamos de dados de faixa etária e familiares para resolver ele. Vamos pegar a faixa etária primeiro

In [42]:
# Tranformando dados com apply

# Aplicando uma função aos dados para transformar a idade em faixas etárias.
# O resultado do apply é uma Série.
def faixa_etaria(linhas):
    idade = linhas["Age"]
    if idade < 12:
        return "criança"
    elif idade >=12 and idade < 18:
        return "adolescente"
    elif idade >=18 and idade < 65:
        return "adulto"
    elif idade >= 65:
        return "idoso"
    else:
        return "nada"
        
# Criamos a coluna "faixa_etaria" onde atribuímos o valor da Série
# resultante do apply
titanic["faixa_etaria"] = titanic.apply(faixa_etaria, axis=1)

In [43]:
titanic.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Relatives,faixa_etaria
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,adulto
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,adulto
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,adulto
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,adulto
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,adulto
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,0,nada
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,0,adulto
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,4,criança
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,2,adulto
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,1,adolescente

#### Agora vamos reaplicar o nosso filtro

In [44]:
mortos = titanic[titanic["Survived"] == 0]
vivos = titanic[titanic["Survived"] == 1]

In [45]:
mortos.Survived[titanic["faixa_etaria"] == "criança"].count()

29

In [46]:
vivos.Survived[titanic["faixa_etaria"] == "criança"].count()

39

In [47]:
mortos.Survived[titanic["faixa_etaria"] == "adolescente"].count()

23

In [48]:
vivos.Survived[titanic["faixa_etaria"] == "adolescente"].count()

22

In [49]:
mortos.Survived[titanic["faixa_etaria"] == "adulto"].count()

362

In [50]:
vivos.Survived[titanic["faixa_etaria"] == "adulto"].count()

228

## Birkenhead Drill

![](https://databootcamp.nyc3.digitaloceanspaces.com/img/women-and-children-first.jpg)

Em 1852, existia um código de conduta chamado ***Birkenhead Drill***, que protocolava a ordem de resgate de uma situação de vida e morte. Esse código priorizava a vida das mulheres e crianças. Sabemos que o acidente do Titanic ocorreu em 1912, décadas depois da criação deste código.

## Crie um filtro que aplique essa regra :)

![alt text](https://databootcamp.nyc3.digitaloceanspaces.com/img/desafio.jpg)

In [ ]:
#Calcular o número inteiro de sobreviventes e mortos
nao_sobreviveu = titanic.Survived[titanic["Survived"] == 0].count()
sobreviveu = titanic.Survived[titanic["Survived"] == 1].count()

In [67]:
#Calcular o número inteiro de sobreviventes e mortos que são MULHERES OU CRIANÇAS
mortos = titanic[titanic["Survived"] == 0]
vivos = titanic[titanic["Survived"] == 1]

filtro_mulher = titanic["Sex"] == 'female'
filtro_crianca = titanic["faixa_etaria"] == 'criança'

mortos_mulheres_criancas = mortos.Survived[filtro_mulher | filtro_crianca].count()
print(mortos_mulheres_criancas)

vivos_mulheres_criancas = vivos.Survived[filtro_mulher | filtro_crianca].count()
print(vivos_mulheres_criancas)

97
253

In [70]:
#Porcentagem dos sobreviventes e mortos que são MULHERES OU CRIANÇAS
print("Porcentagem de mortos mulher ou criança:", calculate_percentage(mortos_mulheres_criancas,nao_sobreviveu))

print("Porcentagem de sobreviventes mulher ou criança:", calculate_percentage(vivos_mulheres_criancas,sobreviveu))

Porcentagem de mortos mulher ou criança: 17.67%
Porcentagem de sobreviventes mulher ou criança: 73.98%

## Apagando colunas

Nem todas as colunas são necessárias para realizar uma análise, a coluna `Name`, por exemplo, pode não ser muito relevante.

In [51]:
titanic.drop(["Name"], axis=1)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Relatives,faixa_etaria
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,adulto
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C,1,adulto
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,adulto
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,S,1,adulto
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,S,0,adulto
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.0,0,0,211536,13.0000,NaN,S,0,adulto
887,888,1,1,female,19.0,0,0,112053,30.0000,B42,S,0,adulto
888,889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,3,nada
889,890,1,1,male,26.0,0,0,111369,30.0000,C148,C,0,adulto
890,891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q,0,adulto

In [52]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Relatives,faixa_etaria
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,adulto
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,adulto
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,adulto
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,adulto
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,adulto

## Alterando o nome da coluna

In [53]:
titanic.rename(columns={'faixa_etaria': 'AgeRange'})
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Relatives,faixa_etaria
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,adulto
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,adulto
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,adulto
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,adulto
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,adulto

In [54]:
titanicx=titanic.drop_duplicates(subset="Embarked")
titanicx

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Relatives,faixa_etaria
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,adulto
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,adulto
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,0,nada
61,62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0000,B28,NaN,0,adulto